<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

	<bean id="registerAccountService" class="com.yufeng.service.impl.RegisterAccountServiceImpl"    autowire="byName"/>
	<bean id="enterpriseBusinessBasicInfoService" class="com.yufeng.service.impl.EnterpriseBusinessBasicInfoServiceImpl"    autowire="byName"/>
	<bean id="individualBusinessBasicInfoService" class="com.yufeng.service.impl.IndividualBusinessBasicInfoServiceImpl"    autowire="byName"/>

	<bean id="bankCardService" class="com.yufeng.service.impl.BankCardServiceImpl"    autowire="byName"/>
	
	<bean id="userBasicInfoService" class="com.yufeng.service.impl.UserBasicInfoServiceImpl"    autowire="byName"/>
	
	<bean id="userFamilyService" class="com.yufeng.service.impl.UserFamilyServiceImpl"    autowire="byName"/>
	
	<bean id="userFinancialAccountService" class="com.yufeng.service.impl.UserFinancialAccountServiceImpl"    autowire="byName"/>
	
	<bean id="rewardPunishmentInfoServiceImpl" class="com.yufeng.service.impl.RewardPunishmentInfoServiceImpl"    autowire="byName"/>

	<bean id="schoolExperienceInfoServiceImpl" class="com.yufeng.service.impl.SchoolExperienceInfoServiceImpl"    autowire="byName"/>

	<bean id="importCityDataServiceimpl" class="com.yufeng.service.impl.ImportCityDataServiceimpl"    autowire="byName"/>
	
	<bean id="fastConsumerLoanOrderService" class="com.yufeng.service.impl.FastConsumerLoanOrderServiceImpl"    autowire="byName"/>
	
	<bean id="GuaranteeRelationshipService" class="com.yufeng.service.impl.GuaranteeRelationshipServiceImpl"    autowire="byName"/>

	<bean id="userInfoService" class="com.yufeng.service.impl.UserInfoServiceimpl"    autowire="byName"/>


</beans>